::ng-deep * {
  margin: 0;
  padding: 0;
}

.container {
  font-family: var(--main-font);
  background-color: var(--dark-background);
  padding: 5%;
}

button {
  padding: 0.5em 2em;
  background-color: var(--dark-elements);
  color: var(--dark-text);
  border: none;
  border-radius: 5%;
  box-shadow: 0px 0px 15px hsla(200, 15%, 8%, 0.3);
}

.back-button {
  margin-top: 5%;
}

button:hover {
  cursor: pointer;
}

button:hover i {
  transform: translateX(-5px);
  transition: 0.2s;
}

.flex-container {
  display: flex;
  flex-direction: row;
  color: var(--dark-text);
  gap: 50px;
  min-height: 70vh;
  margin-top: 5%;
}

.flex-container img {
  height: 300px;
  max-width: 700px;
}

@media (min-width: 1440px) {
  .flex-container {
    gap: 50px;
    min-height: 70vh;
    margin-top: 5%;
  }

  .flex-container img {
    object-fit: contain;
    max-width: 700px;
  }

  .back-button {
    margin-top: 0;
  }
}

.country-description {
  line-height: 2.5;
}

@media only screen and (max-device-width: 480px) {
  .flex-container {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    gap: 100px;
    align-items: start;
  }

  .flex-container img {
    max-width: 100%;
  }

  .back-button {
    margin-top: 0;
  }

  .country-description-content {
    display: flex;
    flex-direction: row;
  }
}

.country-links {
  color: var(--dark-text);
  margin-right: 10px;
  margin-top: 10px;
}
